<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sức khỏe là vàng</title>
    <link href="~/Content/custom/business-frontpage.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".upper-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" title="Sức khỏe là vàng" rel="home">Sức khỏe là vàng</a>
                @using (Html.BeginForm("Search", "Home", FormMethod.Get, new { @class = "navbar-form pull-left", role = "search", id = "searchform" }))
                {
                    <div class="input-group">
                        @*@Html.Partial("_ListCategoryPartial")*@
                        @{ Html.RenderAction("ListCategoryPartial", "Home"); }
                        <input type="text" class="form-control" value="" placeholder="Tìm kiếm" name="key" id="key">
                        <div class="input-group-btn">
                            <button type="submit" id="searchsubmit" value="Search" class="btn btn-success"><span class="glyphicon glyphicon-search"></span></button>
                        </div>
                    </div>
                            }
            </div><!-- /.navbar-header -->
            @*<div class="collapse navbar-collapse upper-navbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Đăng nhập</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Đăng ký</a></li>
                    </ul>
                </div>*@<!-- /.navbar-collapse -->
        </div>
    </nav>
    <!-- Page Content -->
    <div class="container">
        @RenderBody()
        <!-- /.row -->
        <hr>
    </div>
    <footer>
        @*<div class="container container-custom hidden-xs">
                <div class="row">
                    <div class="column col-xs-6 col-sm-4 col-md-3">
                        <a rel="nofollow" class="logo" href="/">
                            <img style="width: 120px" src="~/Content/images/leadgroup.png" alt="">
                        </a>
                        <p class="copyright">© 1999-2017 Leaf Group Ltd.</p>
                    </div>
                    <div class="column col-xs-6 col-sm-4 col-md-6 footer-links">
                        <div class="row">
                            <nav>
                                <ul class="listing">
                                    <li class="column col-xs-12 col-sm-6 col-md-4">
                                        <ul>
                                            <li>
                                                <a href="#" data-gtm-event="nav footer" class="title">Giới thiệu</a>
                                            </li>
                                            <li>
                                                <a href="#" data-gtm-event="nav footer" class="title">Giới thiệu</a>
                                            </li>
                                            <li>
                                                <a href="#" data-gtm-event="nav footer" class="title">Giới thiệu</a>
                                            </li>
                                            <li>
                                                <a href="#" data-gtm-event="nav footer" class="title">Giới thiệu</a>
                                            </li>
                                            <li>
                                                <a href="#" data-gtm-event="nav footer" class="title">Giới thiệu</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="column col-xs-12 col-sm-6 col-md-4">
                                        <ul>
                                            <li>
                                                <a href="#" data-gtm-event="nav footer" class="title">Giới thiệu</a>
                                            </li>
                                            <li>
                                                <a href="#" data-gtm-event="nav footer" class="title">Giới thiệu</a>
                                            </li>
                                            <li>
                                                <a href="#" data-gtm-event="nav footer" class="title">Giới thiệu</a>
                                            </li>
                                            <li>
                                                <a href="#" data-gtm-event="nav footer" class="title">Giới thiệu</a>
                                            </li>
                                            <li>
                                                <a href="#" data-gtm-event="nav footer" class="title">Giới thiệu</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="column col-xs-12 col-sm-6 col-md-4">
                                        <ul>
                                            <li>
                                                <a href="#" data-gtm-event="nav footer" class="title">Giới thiệu</a>
                                            </li>
                                            <li>
                                                <a href="#" data-gtm-event="nav footer" class="title">Giới thiệu</a>
                                            </li>
                                            <li>
                                                <a href="#" data-gtm-event="nav footer" class="title">Giới thiệu</a>
                                            </li>
                                            <li>
                                                <a href="#" data-gtm-event="nav footer" class="title">Giới thiệu</a>
                                            </li>
                                            <li>
                                                <a href="#" data-gtm-event="nav footer" class="title">Giới thiệu</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="column col-xs-6 col-sm-4 col-md-3">
                        <!-- Non-Mobile only -->
                        <div class="socialConnect fr hidden-xs">
                            <div class="headline4 heading head">Liên hệ</div>
                            <div class="social">
                                <ul class="icons unstyled inline footer-social">
                                    <li class="icon">
                                        <div class="round-button">
                                            <div class="round-button-circle">
                                                <a href="#" data-gtm-event="nav footer" data-gtm-info="twitter" class="gtm_social btnTwitter" target="_blank">
                                                    <span class="glyphicon glyphicon-star"></span>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="icon">
                                        <div class="round-button">
                                            <div class="round-button-circle">
                                                <a href="#" data-gtm-event="nav footer" data-gtm-info="googleplus" class="gtm_social btnGoogle" target="_blank">
                                                    <span class="glyphicon glyphicon-tag"></span>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- End Non-Mobile only -->
                    </div>
                </div>
            </div>
            <div class="container container-non-responsive visible-xs">
                <ul class="listing">
                    <li>
                        <a href="#" class="title">About eHow</a>
                    </li>
                    <li>
                        <a href="#" class="title">Advertise</a>
                    </li>
                    <li>
                        <a href="#" class="title">Write For eHow</a>
                    </li>
                    <li>
                        <a href="#" class="title">Contact Us</a>
                    </li>
                </ul>
                <!-- Mobile only -->
                <div class="socialConnect">
                    <div class="social-icons-mobile">
                        <ul class="icons unstyled inline">
                            <li class="icon">
                                <div class="round-button">
                                    <div class="round-button-circle">
                                        <a href="#" data-gtm-event="nav footer" data-gtm-info="pinterest" class="gtm_social btnPinterest" target="_blank">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="icon">
                                <div class="round-button">
                                    <div class="round-button-circle">
                                        <a href="#" data-gtm-event="nav footer" data-gtm-info="facebook" class="gtm_social btnFacebook" target="_blank">
                                            <span class="glyphicon glyphicon-cloud"></span>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="icon">
                                <div class="round-button">
                                    <div class="round-button-circle">
                                        <a href="#" data-gtm-event="nav footer" data-gtm-info="twitter" class="gtm_social btnTwitter" target="_blank">
                                            <span class="glyphicon glyphicon-envelope"></span>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="icon">
                                <div class="round-button">
                                    <div class="round-button-circle">
                                        <a href="#" data-gtm-event="nav footer" data-gtm-info="googleplus" class="gtm_social btnGoogle" target="_blank">
                                            <span class="glyphicon glyphicon-home"></span>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="icon">
                                <div class="round-button">
                                    <div class="round-button-circle">
                                        <a href="#" data-gtm-event="nav footer" data-gtm-info="instagram" class="gtm_social btnInstagram" target="_blank">
                                            <span class="glyphicon glyphicon-volume-off"></span>
                                        </a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End Mobile only -->
                <div class="row">
                    <div class="column separator col-xs-4 col-xs-offset-4"></div>
                </div>
                <div class="row">
                    <ul class="listing below-separator">
                        <li>
                            <a href="#" class="title">Terms of Use</a>
                        </li>
                        <li>
                            <a href="#" class="title">Report Copyright</a>
                        </li>
                        <li>
                            <a id="_bapw-link" class="ad-choice" style="cursor:pointer !important">
                                <img id="_bapw-icon" style="display:inline !important;vertical-align:middle !important" src="http://cdn.betrad.com/pub/icon1.png">
                                <span style="vertical-align:middle !important">Ad Choices</span>
                            </a>
                            <abbr>en-US</abbr>
                        </li>
                    </ul>
                    <ul class="listing below-separator">
                        <li>
                            <a href="#" class="title">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#" class="title">Mobile Privacy</a>
                        </li>
                    </ul>
                </div>
                <div class="row logo-container">
                    <div class="col-xs-4 col-xs-offset-4">
                        <a rel="nofollow" class="logo-mobile">
                            <img style="width: 120px" src="~/Content/images/leadgroup.png" alt="">
                        </a>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-xs-8 col-xs-offset-2">
                        <p class="copyright">© 1999-2017 Leaf Group Ltd.</p>
                    </div>
                </div>
            </div>*@
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
