@using MyWeb.Core;
@model MyWeb.Presentation.Controllers.NewsViewModel

@{
    ViewBag.Title = "Index";
}

<div class="row">
    @*<div class="col-sm-12 text-center full-tile">
            <span class="full-title">Hãy trân trọng sức khỏe của bạn khi còn có thể</span>
            <div class="rounded-line"></div>
        </div>*@
    @foreach (var item in Model.Items)
    {
        @*<div class="col-md-3 col-sm-4 col-xs-6">
                <div class="box">
                    <a href="/@item.Slug">
                        <img class="img-responsive img-center" src="@item.ImageUrl" alt="@item.MetaDescription">
                        <h2>@item.Title</h2>
                    </a>
                </div>
            </div>*@
        <div class="col-md-12">
            <div class="box">
                <a href="/@item.Slug">
                    <h2>@item.Title</h2>
                </a>
                <div class="home-content">
                    <div class="create-date">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        <time>
                            @item.CreatedOnUtc.ToString(Constant.DATE)
                        </time>
                    </div>
                    <div class="short-content">
                        @item.Short
                    </div>

                    <div class="btn-group">
                        <a href="/@item.Slug" class="btn btn-default" type="submit">Đọc tiếp...</a>
                    </div>
                </div>

            </div>
        </div>
    }
    @if (Model.Pager.EndPage > 1)
    {
        <div class="col-sm-12">
            <nav aria-label="...">

                <ul class="pagination">
                    @if (Model.Pager.CurrentPage > 1)
                    {
                        <li>
                            <a href="@ViewBag.CurrentUrl">First</a>
                        </li>
                        <li>
                            <a href="@ViewBag.CurrentUrl?page=@(Model.Pager.CurrentPage - 1)">Previous</a>
                        </li>
                    }

                    @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                    {
                        <li class="@(page == Model.Pager.CurrentPage ? "active" : "")">
                            <a href="@ViewBag.CurrentUrl?page=@page">@page</a>
                        </li>
                    }

                    @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                    {
                        <li>
                            <a href="@ViewBag.CurrentUrl?page=@(Model.Pager.CurrentPage + 1)">Next</a>
                        </li>
                        <li>
                            <a href="@ViewBag.CurrentUrl?page=@(Model.Pager.TotalPages)">Last</a>
                        </li>
                    }
                </ul>

            </nav>
        </div>

    }
</div>
